h1 {
  margin: 1em;
  font-size: 42px;
  color: #000;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0 100px 50px 100px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.note__list__create-note-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

p {
  text-align: center;
}
